<div class="tw-mt-2 tw-flex tw-flex-col">
    <div class="tw-mb-2">
        @Content.InnerMsg
    </div>
    <div>
        <FluentButton Appearance="Appearance.Outline"
                      Title="Close"
                      OnClick="ShowErrorDetailsAsync">
            Show
        </FluentButton>
    </div>
</div>


