<div class="@(IsLoading?"tw-block":"tw-hidden") tw-mt-6 tw-flex tw-w-full tw-flex-col tw-items-center tw-justify-center">
    <div>
        Loading...
    </div>
    <FluentProgress Width="240px" />
</div>


