<div class="tw-flex tw-w-full tw-flex-row">
    <FluentBreadcrumb>
        @foreach (var item in Items.OrderBy(i => i.Position))
        {
            <FluentBreadcrumbItem Href="@item.Url">
                @item.Name
            </FluentBreadcrumbItem>
        }
    </FluentBreadcrumb>
    @if (WithClose)
    {
        <FluentSpacer></FluentSpacer>
        <FluentNavLink Href="@CloseUrl">
            <FluentButton Appearance="Appearance.Stealth"
                          Title="Close">
                <FluentIcon Value="@(new Icons.Regular.Size20.Dismiss())" Width="20px" Color="Color.Neutral" />
            </FluentButton>
        </FluentNavLink>
    }
</div>
