@inherits Basepage

@page "/subscription/tenants/add"

@using UbikLink.Common.RazorUI.Authorize;
@using UbikLink.Common.RazorUI.Errors;
@using UbikLink.Common.RazorUI.Components
@using UbikLink.Security.UI.Client.Components.Authorizations
@using UbikLink.Security.UI.Client.Components.Subscription

<PageTitle>Add tenant in subscription</PageTitle>

<UbikContentContainer>
    <UbikFluentBreadcrumb Items="BreadcrumbItems" WithClose="true" CloseUrl="subscription" />

    @if (_isSubscriptionOwner)
    {
        <FluentStack Orientation="Orientation.Vertical" Class="tw-mb-4 tw-mt-3">
            <div>
                <h2 class="tw-text-2xl tw-font-bold">Add a tenant</h2>
                <p>Create a new tenant in the selected subscription.</p>
                <p class="tw-mb-2 tw-font-semibold">Don't forget to link users to the tenants (if you want).</p>
                <p class="tw-italic">Selected subscription:</p>
                <p class="tw-italic">@_selectedSubscriptionId</p>
            </div>
        </FluentStack>

        <SubscriptionTenantsAdd @rendermode="InteractiveAuto"
                                SelectedSubscriptionId="_selectedSubscriptionId">
        </SubscriptionTenantsAdd>
    }
    else
    {
        <NoRight Message="You are not the owner of the selected subscription." />
    }
</UbikContentContainer>
